<div class="footer">
  <p>To see the full source code, visit the GitHub repository:&nbsp;&nbsp;<a class="aFooter" href = https://github.com/jdesilvio/ideasex>https://github.com/jdesilvio/ideasex</a></p>
  <p>Copyright 2015</p>
</div>
